<!--So We Can Load In Our Static Directory Which Has Our CSS-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/reset.css'  %}"/>
    <link rel="stylesheet" href="{% static 'home/css/styles.css'  %}"/>
    {% if title %}
        <title>Dynamic Django - {{ title }}</title>
    {% else %}
        <title>Django Hello World</title>
    {% endif %}
</head>
<body>

<div class="container">
<nav>
    <a class="nav-buttons" href="{% url 'home-home' %}">Home</a>
    <a class="nav-buttons" href="{% url 'home-contact' %}">Contact</a>
    
    <!--Business Name Or Tagline-->
    <a class="nav-buttons" href="{% url 'home-home' %}">Python🐍</a>
</nav>

    
    {% block content %}

    {% endblock %}

</div>
</body>
</html>